@import "../../styles/variables";
@import "../../styles/colors";

.typeracer-container {
  margin: 0 50px 0;
  padding: 30px 45px;
  max-width: 1190px;
  border-radius: $border-radius;
  background-color: $bubble;
}

.quote {
  font-size: 1.5rem;
  color: $primary;

  .correct {
    color: $color-correct;
  }

  .incorrect {
    color: $color-incorrect;
  }

  .incorrect-empty {
    background-color: $color-incorrect;
    opacity: 0.75;
  }
}
