@import "../../styles/colors";

.typeracer-container {
  margin: 0 50px 0;
  padding: 30px 45px;
  max-width: 1190px;
  border-radius: 30px;
  background-color: $accent;
}

.quote {
  font-size: 1.5rem;
  color: $primary;

  .correct {
    color: $color-correct;
  }

  .incorrect {
    color: $color-incorrect;
  }
}
