@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/animations";

.typeracer-wrapper {
  display: flex;
  flex-direction: column;
}

.typeracer-container {
  margin: 0 50px 0;
  padding: 30px 45px;
  min-height: 150px;
  max-width: 1190px;

  border-radius: $border-radius;
  background-color: $bubble;

  &.focus-in {
    --scaleStart: 0.95;
    --scaleEnd: 1;
    --blurStart: 3;
    --blurEnd: 0;
    @include scale-up-and-blur-out(0.3s);
  }

  &.focus-out {
    --scaleStart: 1;
    --scaleEnd: 0.95;
    --blurStart: 0;
    --blurEnd: 3;
    @include scale-down-and-blur-in(0.3s);
  }
}

.quote {
  font-size: 1.5rem;
  color: $primary;
}

.word-count {
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  margin: 10px 75px;
  font-size: 1.5rem;
  color: $accent;
}
