@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@import "./colors";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: $primary;
}

span {
  cursor: default;
}
