@import "../../styles/variables";
@import "../../styles/colors";

.caps-lock-warning-container {
  margin: 15px;
  padding: 25px 60px;
  border-radius: $border-radius;
  background-color: $accent;

  span {
    font-weight: bolder;
    color: $primary;
  }

  &.hidden {
    visibility: hidden;
  }

  &.visible {
    visibility: visible;
  }
}
