@import "../../styles/variables";
@import "../../styles/colors";

.restart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 25px;
  border-radius: $border-radius;
  background-color: $bubble;
  opacity: 0.1;

  .icon {
    font-size: 30px;
    color: $primary;
  }

  &.focused {
    opacity: 1;
  }
}
